.calendar .days .event {
    position: relative;
  }
  
  
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
  }
  
  
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  
  
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  
  
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  